@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #050505;
    background: linear-gradient(to right, #040404, #3d3d41);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fgp{
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 65%;
    background-color: #cf6519;
    background: linear-gradient(to right, #eb7d07, #e0cdb7);
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.fgp input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.fgp button{
    background-color: #e76c07;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.fgp a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.fgp p{
    color: #333;
    font-size: 12px;
}
